div.rodape {
    background-color: #c5dbc7;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: #04660e;
}

div.rodape a, a:visited, a:active {
    text-decoration: none;
    color: #04660eb7;
}